@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#header {
  width: 100%;
  height: 80vh;
  background-color: #E1EEFE;
  /* margin-top:70px; */
}

#header h1 {
  font-weight: 700;
}

#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

#header h4 {
  font-size: 22px !important;
}

.header {
  background-color: #ffffff;
}

.logo img {
  width: 200px
}

.navbar {
  background-color: #ffffff !important;
}

.navbar-collapse {
  float: right;
}

.navbar-brand {
  font-size: 1.9rem;
  color: #01BBD2;
}

.active_menu {
  font-weight: bold;
  border-bottom: 2px solid #01BBD2;
  color: #01BBD2;
}

.navbar-nav a,
.navbar-nav a:hover {
  color: #111111;
}

.highlight-logo-text {
  color: #01BBD2;
  text-transform: uppercase;
}

.main-menu {
  padding: 20px 0px !important;
}

.link {
  float: right;
  width: 100%;
}

.btn-get-started {
  padding: 5px 15px;
  border-radius: 30px;
  border: 1px solid #01BBD2;
  text-decoration: none !important;
  color: #01BBD2;
  display: inline-block;
  transition: all ease-in-out 0.3s;
}

.btn-get-started:hover {
  background-color: #01BBD2;
  transition: all ease-in-out 0.3s;
  color: #ffffff;
}

.highlighted_text {
  color: #01BBD2;
  display: block;
}

.service {
  background-color: #E1EEFE;
}

.read_more_btn {
  border: 1px solid #01BBD2 !important;
  color: #01BBD2 !important;
  transition: all ease-in-out 0.3s;
  padding: 5px 15px;
}

.read_more_btn:hover {
  background-color: #01BBD2 !important;
  color: #ffffff !important;
  transition: all ease-in-out 0.3s;
}

.contact {
  background-color: #E1EEFE;
}

.contact button {
  width: 100%;
  background-color: #01BBD2;
  border-color: #01BBD2;
}

/* footer {
  position: realtive;
  bottom: 0;
  padding: 5px 0;
} */
footer p {
  margin-bottom: 0;
}

.footer {
  padding: 10px 0;
  background-color: #c1cfe0;
}

.copyrights_link,
.copyrights_link:hover {
  color: #000000;
  text-decoration: none;
}


/* Responsive code*/

@media (max-width:991px) {
  #header {
    height: 80vh;
    text-align: center;
  }

  #header .header-img {
    text-align: center;
  }

  #header .header-img img {
    width: 60%;
  }

  .hamburgerMenu button:focus {
    box-shadow: none;
  }

  .menu-link li:last-child a {
    border-bottom: 0;
  }


}

@media (max-width:768px) {

  .hamburgerMenu button {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 50px;
  }

  .menu-link li:last-child a {
    border-bottom: 0;
  }

  .hamburgerMenu button:focus {
    box-shadow: none;
  }

  .navbar-toggler {
    display: flex;
    justify-items: center;
  }

  .hamburgerMenu {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #header h1 {
    font-size: 28px;
  }

  #header h4 {
    font-size: 18px;
    margin-bottom: 30px;
  }

  #header .header-img img {
    width: 70%;
  }
}